<div class="bs-cookie-banner">
  <div class="bs-cookie-banner-cover">
  </div>
  <div class="bs-cookie-banner-bottom">
    <div class="bs-cookie-banner-ini">
      <div class="bs-cookie-banner-des">
        We use cookies to ensure that you have the best experience. <a href="#">Privacy Policy</a>
      </div>
      <div class="bs-cookie-banner-btn">
        <a class="bs-cookie-banner-accept" href="#">I ACCEPT</a>
      </div>
    </div>
  </div>
</div>
