<svg width="25px" height="25px" viewBox="0 0 27 27" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>B4180EBF-C158-42FD-9151-4F01315C5A25</title>
    <desc>Created with sketchtool.</desc>
    <defs></defs>
    <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="icons" transform="translate(-71.000000, -471.000000)">
            <g id="insta_ico" transform="translate(70.000000, 470.000000)">
                <rect id="Background" x="0" y="0" width="29" height="29"></rect>
                <path d="M9.28023477,1.7397461 C5.12307551,1.7397461 1.7402344,5.12258721 1.7402344,9.27974647 L1.7402344,19.7197473 C1.7402344,23.8769058 5.12307551,27.2597461 9.28023477,27.2597461 L19.7202356,27.2597461 C23.8773941,27.2597461 27.2602344,23.8769058 27.2602344,19.7197473 L27.2602344,9.27974647 C27.2602344,5.12258721 23.8773941,1.7397461 19.7202356,1.7397461 L9.28023477,1.7397461 Z M9.2799148,2.8997895 L19.7199148,2.8997895 C23.2500755,2.8997895 26.0999148,5.74962866 26.0999148,9.27978923 L26.0999148,19.7197888 C26.0999148,23.2499493 23.2500755,26.0997885 19.7199148,26.0997885 L9.2799148,26.0997885 C5.74975408,26.0997885 2.8999148,23.2499493 2.8999148,19.7197888 L2.8999148,9.27978923 C2.8999148,5.74962866 5.74975408,2.8997895 9.2799148,2.8997895 Z M21.4602042,6.3799205 C20.8195546,6.3799205 20.3002044,6.89927027 20.3002044,7.5399206 C20.3002044,8.18057093 20.8195546,8.6999207 21.4602042,8.6999207 C22.1008538,8.6999207 22.6202041,8.18057093 22.6202041,7.5399206 C22.6202041,6.89927027 22.1008538,6.3799205 21.4602042,6.3799205 Z M14.5002927,8.1198044 C10.9835859,8.1198044 8.1202927,10.9830976 8.1202927,14.4998044 C8.1202927,18.0165114 10.9835859,20.8798044 14.5002927,20.8798044 C18.0169997,20.8798044 20.8802927,18.0165114 20.8802927,14.4998044 C20.8802927,10.9830976 18.0169997,8.1198044 14.5002927,8.1198044 Z M14.4999729,9.2798486 C17.3897694,9.2798486 19.7199734,11.6100531 19.7199734,14.4998491 C19.7199734,17.3896456 17.3897694,19.7198496 14.4999729,19.7198496 C11.6101769,19.7198496 9.2799724,17.3896456 9.2799724,14.4998491 C9.2799724,11.6100531 11.6101769,9.2798486 14.4999729,9.2798486 Z" id="Shape" fill="#3D3D3D"></path>
            </g>
        </g>
    </g>
</svg>


