<div class="sin-pro-rt-info-fea-desc">
	<ul>
      {% if product.metafields.information.proShortDesc_1 != blank %}
				<li>
					{% if section.settings.hide_des_icons1 == false%}
						<span>
							<svg width="16px" height="21px" viewBox="0 0 29 39" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								<title>E07F840D-0C32-44EC-AC03-99400EC76B6A</title>
								<desc>Created with sketchtool.</desc>
								<defs></defs>
								<g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
									<g id="icons" transform="translate(-484.000000, -61.000000)" stroke="#231f20">
										<g id="lether_ico" transform="translate(485.000000, 62.000000)">
											<path d="M13.5320328,37 L13.6609092,37 C14.6393122,35.3179726 16.2525771,34.1166159 18.125181,33.6755741 C19.9977833,33.2345303 21.9663603,33.5922778 23.5726848,34.665539 C23.5726848,34.665539 26.8238871,31.443747 26.8180281,31.4318367 C24.4313026,28.2411935 23.1575571,24.3334844 23.1977709,20.325284 C23.159061,16.2232908 24.5004696,12.2310253 26.9996274,9.01030105 C27.028917,9.05794299 25.3242315,4.78802496 25.2422209,4.76420399 C24.5485296,5.02542436 23.8145022,5.15853186 23.0747524,5.15725092 C20.0825649,5.14715029 17.5154535,2.98652234 16.9472601,0 L10.0640831,0 C9.4876785,2.98380876 6.9160284,5.1366434 3.92487498,5.1393851 C3.18512358,5.14066604 2.45109834,5.00755854 1.75740689,4.74633854 C1.69296858,4.74633854 0,9.04007717 0,8.99243523 C2.50798761,12.2139738 3.85582248,16.2111097 3.8194308,20.3193307 C3.85758612,24.3309547 2.57960403,28.2411099 0.187456726,31.4318367 C0.187456726,31.4318367 3.42694341,34.6714957 3.43280133,34.665539 C5.03912448,33.5922778 7.00770204,33.2345303 8.8803054,33.6755741 C10.7529074,34.1166159 12.3661723,35.3179726 13.3445761,37 L13.5320328,37 Z" id="Shape"></path>
											<path d="M12.5,9 C13.3284271,9 14,8.32842708 14,7.5 C14,6.67157289 13.3284271,6 12.5,6 C11.6715729,6 11,6.67157289 11,7.5 C11,8.32842708 11.6715729,9 12.5,9 Z" id="Oval"></path>
										</g>
									</g>
								</g>
							</svg>
						</span> 
					{% endif %}
					{{product.metafields.information.proShortDesc_1}} 
				</li> 
      {%endif%}
      {% if product.metafields.information.proShortDesc_2 != blank %}
				<li>
					{% if section.settings.hide_des_icons2 == false%}
						<span>
							<svg width="21px" height="12px" viewBox="0 0 49 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								<title>431C1BE3-2884-4994-9D4E-E96E091346AE</title>
								<desc>Created with sketchtool.</desc>
								<defs></defs>
								<g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<g id="icons" transform="translate(-665.000000, -64.000000)" stroke="#3D3D3D">
										<path d="M673.05,76.8181822 C673.796711,76.8181822 674.516455,76.9349646 675.191879,77.1513621 C675.62648,70.367232 681.234983,65 688.08977,65 C693.401081,65 697.964247,68.2223013 699.951935,72.8292578 C701.073722,72.3537594 702.306381,72.0909093 703.6,72.0909093 C708.791545,72.0909093 713,76.3238585 713,81.5454536 C713,86.7670518 708.791545,91 703.6,91 C700.800339,91 691.332065,91 688.08977,91 C684.63534,91 675.675104,91 673.05,91 C669.156378,91 666,87.8253064 666,83.9090915 C666,79.9928758 669.156378,76.8181822 673.05,76.8181822 Z" id="soft_ico"></path>
									</g>
								</g>
							</svg>
						</span>
					{% endif %}
					{{product.metafields.information.proShortDesc_2}} 
				</li>
      {%endif%}
      {% if product.metafields.information.proShortDesc_3 != blank %}
				<li>
					{% if section.settings.hide_des_icons3 == false%}
						<span>
							<svg width="16px" height="20px" viewBox="0 0 31 37" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								<title>01830361-FB66-4393-A53C-84952B88893D</title>
								<desc>Created with sketchtool.</desc>
								<defs></defs>
								<g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
									<g id="icons" transform="translate(-580.000000, -130.000000)" stroke="#231F20">
										<g id="breathebale_ico" transform="translate(580.000000, 130.000000)">
											<path d="M8.51990472,36.85 C9.06078843,35.8063991 8.98393846,34.5499054 8.31990475,33.5800002 C7.57990479,32.4499998 5.92990476,31.6799999 6.06990476,28" id="Shape"></path>
											<path d="M16.8400707,36.85 C17.3809541,35.8063991 17.3041044,34.5499054 16.6400708,33.5800002 C15.9100707,32.4499998 14.2600705,31.67 14.3900705,28" id="Shape"></path>
											<path d="M25.2697582,36.85 C25.8106416,35.8063991 25.7337919,34.5499054 25.0697583,33.5800002 C24.3397582,32.4499998 22.689758,31.67 22.819758,28" id="Shape"></path>
											<path d="M7.43022898,17.9198828 C7.8698189,17.1436275 8.08774614,16.261541 8.06022909,15.3698827 C8.06703068,14.1324754 7.6973401,12.9222619 7.00022902,11.8998826 C6.2516752,10.9068473 5.74493121,9.7529781 5.52022892,8.52988263 C5.25022891,4.9998831 7.43022898,0.6298828 7.43022898,0.6298828" id="Shape"></path>
											<polyline id="Shape" points="4.5898438 2.09999997 7.49984386 0.5 8.5998438 3.63"></polyline>
											<path d="M15.2199601,17.9198828 C15.6595499,17.1436275 15.8774772,16.261541 15.8499601,15.3698827 C15.8479386,14.1292872 15.4676985,12.9187987 14.7599601,11.8998826 C14.0221012,10.9040382 13.5257166,9.75037163 13.3099602,8.52988263 C12.9999602,4.9998831 15.2199601,0.6298828 15.2199601,0.6298828" id="Shape"></path>
											<polyline id="Shape" points="12.370117 2.09999997 15.2901172 0.5 16.380117 3.63"></polyline>
											<path d="M23.159632,17.9198828 C23.5992219,17.1436275 23.817149,16.261541 23.7896321,15.3698827 C23.7876105,14.1292872 23.4073704,12.9187987 22.6996321,11.8998826 C21.9617731,10.9040382 21.4653886,9.75037163 21.2496321,8.52988263 C20.9996322,4.9998831 23.159632,0.6298828 23.159632,0.6298828" id="Shape"></path>
											<polyline id="Shape" points="20.320312 2.09999997 23.230312 0.5 24.320312 3.63"></polyline>
											<path d="M0.5,20.45996 L29.87,20.45996" id="Shape"></path>
											<path d="M0.5,24.799805 L29.87,24.799805" id="Shape"></path>
										</g>
									</g>
								</g>
							</svg>
						</span> 
					{%endif%}
					{{product.metafields.information.proShortDesc_3}} 
				</li>
      {%endif%}
	</ul>
</div>