<div class="bs-page-buy-now-sec">
  <div class="bs-bnpl-how-atome-row">
    <h2 class="bs-bnpl-title">How Do I Place An Order Using Atome?</h2>
    <div class="bs-bnpl-how-atome-con">
      <div class="bs-bnpl-how-atome-item">
        <svg width="23px" height="22px" viewBox="0 0 23 22">
            <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="icons" transform="translate(-352.000000, -179.000000)">
                    <g id="add_cart" transform="translate(353.000000, 180.000000)">
                        <g id="bag_ico">
                            <rect id="Path-2" stroke="#000000" x="4.163123" y="0" width="7.018575" height="7.4333076"></rect>
                            <polyline id="New-shape" stroke="#000000" points="16.000143 6.81653311 16.000143 4.816496 0 4.816496 0 18.816757 12.0001073 18.8167562"></polyline>
                        </g>
                        <g id="ico/pluss_ico" transform="translate(15.969984, 15.002982) rotate(45.000000) translate(-15.969984, -15.002982) translate(12.398496, 11.431513)" stroke="#000000" stroke-linecap="square">
                            <g id="ico/close_ico" transform="translate(0.000000, -0.000008)">
                                <path d="M7.1428576,7.14301782 L2.21841317e-16,0.000160217285" id="Line-2"></path>
                                <path d="M0.00012207031,7.14301782 L7.14297967,0.000160217285" id="Line-2"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg> 
        <span>Simply add products to the cart and check out.</span>
      </div>
      <div class="bs-bnpl-how-atome-item">
        <svg width="28px" height="28px" viewBox="0 0 28 28">
            <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="icons" transform="translate(-393.000000, -93.000000)">
                    <g id="save_ioc" transform="translate(393.000000, 93.000000)">
                        <polygon id="Star" stroke="#000000" points="13.549805 0 18.3403846 8.75922537 27.09961 13.549805 18.3403846 18.3403846 13.5498042 27.09961 8.75922537 18.3403833 0 13.549805 8.75922673 8.75922348"></polygon>
                        <path d="M15.9220348,15.9581527 C15.9220348,15.4835381 15.7681058,15.0955085 15.4602476,14.7940643 C15.1523894,14.4926206 14.6093624,14.2072103 13.8311654,13.9378346 C12.864833,13.634252 12.1871177,13.2740153 11.7980195,12.8571243 C11.4089211,12.440233 11.2143719,11.9004125 11.2143719,11.2376622 C11.2143719,10.5407059 11.4281622,9.97523032 11.8557429,9.54123587 C12.2833235,9.10724155 12.8648331,8.86031374 13.6002719,8.80045244 L13.6002719,7.504883 L14.2544706,7.504883 L14.2544706,8.80045244 C15.007012,8.86819728 15.589591,9.14916465 16.0022063,9.64335431 C16.4148215,10.137544 16.6211291,10.8100819 16.6211291,11.6609672 L15.8578975,11.6609672 C15.8578973,10.9896657 15.6836581,10.4562586 15.3351802,10.0607465 C14.9867017,9.66523439 14.5110185,9.4674784 13.90813,9.4674784 C13.3009652,9.4674784 12.8274197,9.62700268 12.4874932,9.94605136 C12.1475667,10.2651005 11.9776034,10.6901256 11.9776034,11.221127 C11.9776034,11.7350263 12.1336703,12.1365008 12.4458041,12.4255515 C12.7579378,12.7146033 13.2892065,12.9865343 14.039611,13.2413453 C14.7900147,13.4961569 15.3351799,13.740078 15.6751071,13.9731099 C16.0150331,14.2061417 16.2694434,14.4819308 16.4383385,14.8004788 C16.6072328,15.1190256 16.69168,15.5006419 16.69168,15.9453259 C16.69168,16.6465581 16.4725449,17.2120339 16.0342745,17.6417517 C15.596004,18.0714702 14.9941843,18.3162603 14.2288155,18.3761215 L14.2288155,19.594727 L13.5810307,19.594727 L13.5810307,18.3825356 C12.7215937,18.3269497 12.0567058,18.0565053 11.5863671,17.5712015 C11.1160282,17.085897 10.8808589,16.4220775 10.880859,15.5797442 L11.6505042,15.5797442 C11.6505042,16.2467699 11.8450534,16.7694871 12.2341517,17.1478961 C12.6232499,17.5263051 13.166277,17.7155095 13.8632341,17.7155095 C14.4703984,17.7155095 14.9653223,17.5530292 15.3480078,17.228068 C15.7306919,16.9031064 15.9220344,16.4798017 15.9220348,15.9581527 Z" id="$" fill="#282828"></path>
                    </g>
                </g>
            </g>
        </svg>
        <span>Select to pay with Atome and complete your order.</span>
      </div>
      <div class="bs-bnpl-how-atome-item">
        <svg width="18px" height="21px" viewBox="0 0 18 21">
            <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="icons" transform="translate(-354.000000, -141.000000)" stroke="#000000">
                    <g id="info_form_ico" transform="translate(355.000000, 142.000000)">
                        <rect id="Rectangle" x="0" y="0" width="16" height="19"></rect>
                        <path d="M6,5.2001953 L10.5,5.2001953" id="Line" stroke-linecap="square"></path>
                        <path d="M3,8.7001953 L13.5,8.7001953" id="Line-Copy" stroke-linecap="square"></path>
                        <path d="M3,12.200195 L13.5,12.200195" id="Line-Copy-2" stroke-linecap="square"></path>
                    </g>
                </g>
            </g>
        </svg>
        <span>You will then be directed to the Atome website to register and provide payment details (Visa or Mastercard).</span>
      </div>
    </div>
    <div class="bs-bnpl-how-atome-login">
      <h4 class="bs-bnpl-how-atome-login-title">You have used Atome before?</h4>
      <a class="bs-bnpl-login-btn" href="#">LOG IN ATOM</a>
    </div>
  </div>

  <div class="bs-bnpl-what-atome-row">
    <h2 class="bs-bnpl-title">What Is Atome?</h2>
    <p>
      Atome allows you to make purchases instantly and pay in three equal and interest-free installments.
    </p>
  </div>
    
  <div class="bs-bnpl-how-work-row">
    <h2 class="bs-bnpl-title">How does it work?</h2>
    <p>You will make your first payment at the time of purchase. Your remaining two payments will be collected automatically every 30 days in equal installments via your selected payment method.</p>
    <p>Your payment schedule will be provided to you. If you fail to make a payment on time, your account, Atome will charge a $20 administrative fee. If this administrative fee and installment are not paid within seven days, they will charge an additional $10 fee.</p>
    <p>The maximum administration fee is $60 per transaction.</p>
  </div>

  <div class="bs-bnpl-qst-row">
    <h2 class="bs-bnpl-title">Do You Have A Question That We Haven't  Answered Here?</h2>
    <p>
      If we haven’t answered your question here, please follow this link: <a href="https://www.atome.sg/en-sg/help" target="_blank">www.atome.sg/en-sg/help</a>
      <br>Additional eligibility criteria apply. Late fees apply. 
    </p>
    <p>
      See further details for further details in regards to eligibility and late fees,
      <br>or contact Atome at <a href="mailto:support@atome.sg">support@atome.sg</a>. 
    </p>
  </div>
</div>


{% schema %}
{
  "name": "Buy Now Play Later",
  "settings": [
    {
      "type": "url",
      "id": "atome_link",
      "label": "atome link"
    }
  ]
}
{% endschema %}
